.contacts__header {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}
.contacts__list {
  list-style: none;
  padding: 0;
}
.contacts__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.contacts__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: @text-red;
}
