.download {
  background: url('/img/back-mobile.png') no-repeat top @bg-download;
  color: @text-light;
  padding-bottom: 14px;
}
.download h2 {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}
.download__link {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: @text-light;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 29px;
  width: 280px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.download__hand-phone {
  margin-top: 12px;
  margin-bottom: 28px;
}
.download__description {
  font-weight: 300;
  line-height: 24px;
}
