.features {
  background-color: @bg-features;
}

.features__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
}

.features__footer-image {
  background: url("/img/iphone.png") no-repeat;
  width: 157px;
  height: 284px;
  margin: auto;
  padding-top: 37px;
  box-sizing: border-box;
  margin-top: 48px;
}
