.main-nav {
  display: none;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-nav__item a {
  display: block;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: @text-light;
  text-transform: uppercase;
  padding: 25px;
  background-color: @text-dark;
  border-bottom: 1px solid @basic-black;
}
