.page-footer__social {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}
.page-footer__social-button {
  width: 48px;
  height: 48px;
  background: #FFFFFF;
  border: 3px solid @border-icon;
  border-radius: 50px;
}
.page-footer__developer span {
  line-height: 18px;
}
