.page__body {
  padding: 0;
  width: @mobile-width;
  margin: 0 auto;
  text-align: center;
  color: @text-dark;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
