.page-header {
  width: @mobile-width;
  background-color: @bg-header;
  color: @text-light;
  padding-top: 21px;
  padding-bottom: 21px;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
.page-header__menu-toggle {
  background: url('/img/btn-menu.svg');
  height: 24px;
  width: 50px;
  border: none;
  cursor: pointer;
}
