.price {
  background-color: @bg-price;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.price__table {
  border-collapse: collapse;
  margin: auto;
  width: 94%;
}

.price__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  color: @text-light;
  text-transform: uppercase;
}

.price__price-value {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: @text-light;
}

.price__table td {
  font-weight: normal;
  background-color: @text-light;
  border: 2px solid @bg-page;
  color: @text-dark;
  line-height: 30px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;

  &:first-child {
    text-align: left;
  }

  &[data-status="no"] {
    content: "";
    width: 27px;
    height: 27px;
    background: url("../img/icon-no.svg") no-repeat center @text-light;
  }

  &[data-status="yes"] {
    content: "";
    width: 27px;
    height: 27px;
    background: url("../img/icon-yes.svg") no-repeat center @text-light;
  }

  @media (min-width: @tablet-width) {
    text-transform: none;
    padding: 15px;
  }
}

.price__table th {
  background-color: @text-dark;
  border-left: 2px solid @bg-page;
  border-radius: 1px 0 0 0;
  width: 25%;

  &:first-child {
    background: transparent;
    border: none;
  }

  &:nth-child(2) {
    border-left: none;
    border-radius: 5px 0 0 0;
  }
}

.price__table p {
  padding: 0;
  margin: 0;
}
